<div class="wrapper">
		<ngb-carousel>
	     
<ng-template ngbSlide>
	<div class="page-header subscribe-line subscribe-line-transparent" style="background-image: url('./assets/img/bg.jpg')">
		<div class="filter"></div> 
		<div class="content-center">
			<div class="container">
					<div class="title-brand">
						<div class="card">
                    	 <div class="angular-logo" style="margin-bottom: -5%">
                        <img src="./assets/img/bgcimaz.png" alt="" style="width: 200% ;  box-shadow: none">
					</div>     
				</div>  
					<h1 class="presentation-title">Cimaz</h1>
					<div class="type" style="
					margin-top: 1%;
					margin-right: 27%;
				">Inmobiliaria</div>	 
				</div>
			</div>
		</div>
		<h6 class="category category-absolute" style=" 
		z-index: 2  !important
	"> 
			<a>
				<img src="./assets/img/isologo.png" class="creative-tim-logo" style="width: 5%;margin-bottom: 1%;margin-right: -2%; box-shadow: none">
			</a>Juan B. Justo 200 - Villa Carlos Paz - Córdoba - Argentina
		</h6>
	</div> 
</ng-template> 
<ng-template ngbSlide> 
<div class="page-header" style="background-image: url('./assets/img/bg2.jpg')">
	<div class="filter"></div>
	<div class="content-center">
		<div class="container">
			<div class="row"> 
				<div class="col-md-8 ml-auto mr-auto text-center">
					<div class="title-brand">
							<div class="card">
							 <div class="angular-logo" style="margin-bottom: -5%">
							<img src="./assets/img/bgcimaz.png" alt="" style="width:100% ;  box-shadow: none">
						</div>     
					</div>   	 
					</div>
					<h1 class="title" style="font-size:26px"> Encuentre su proxima vivienda</h1>
					<h5 class="description"> Ahora podrá encontrar su próxima vivienda o inversión de una manera más ágil y sencilla</h5>
					<br />
				</div>
				<div class="col-md-10 ml-auto mr-auto">
					<div class="card card-raised card-form-horizontal no-transition">
						<div class="card-body">
							<form method="" action="">
								<div class="row">
									<div class="col-md-3">
										<div class="form-group">
											<input type="text" value="" placeholder="Ciudad" class="form-control" />
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<input type="text" value="" placeholder="Pais" class="form-control" />
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<input type="text" value="" placeholder="Tipo" class="form-control" />
										</div>
									</div>
									<div class="col-md-3">
										<button type="button" class="btn btn-danger btn-block"><i class="nc-icon nc-zoom-split"></i> &nbsp; Buscar</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> 

</ng-template>
<ng-template ngbSlide> 
		<div id="fadeInAnim">

					<div class="page-header section-content" style="background-image: url('./assets/img/bg5.jpg');">				
							<div class="filter"></div> 
					<div class="filter"></div>   
					<div class="container">
					<div class="row" style="
					margin-top: 17%;
				">
						<div class="col-md-7">
						<div class="image-container"> 
								<img class="img" src="./assets/img/vcp/ed5.png" style="margin-left: 22%;/* height: 103%; */margin-top: -12%;box-shadow:none;width: 47%;"/>
								<img class="area-img add-animation" src="./assets/img/vcp/ed2.png" style="margin-top: 6%; box-shadow:none; width: 50%;"/>
								<img class="info-img add-animation" src="./assets/img/vcp/ed1.png" style="box-shadow:none;/* height: 112%; */width: 63%;margin-top: -8%;margin-left: -2%;"/> 
						</div>
					</div>

					<div class="col-md-4 ">
					<div class="section-description" style="margin-top:1%"> 
					<div class="angular-logo">
							<img src="./assets/img/bgcimaz.png" alt="" style="width: 180%;margin-left: -166%;margin-bottom: -11%;box-shadow: none;">
										</div>
										<h3 class="title" style="font-weight: bold;margin-top: -9%;">Realice una</h3>

										<h3 class="title" style="font-weight: bold;margin-top: -5%;">buena Inversión</h3>
										<h6 class="category">Oportunidades de categoria</h6>
										<h5 class="description">Aproveche oportunidades inmejorables en inmuebles. Cordoba, Rosario, villa Carlos Paz, subscribase a nuesto newsletter y reciba alertas para aprovechar estos beneficios. </h5>
									</div>
								</div>
							</div>
						</div>
					</div>
					</div> 
			<!-- <div class="container">
				<div class="row" style="margin-top: 20%;">
					<div class="col-md-7">
						<div class="image-container">
							<img class="img" src="./assets/img/vcp/ed1.png" style="box-shadow:none;width: 50%;margin-right: -16%;"/>
							<img class="area-img add-animation" src="./assets/img/vcp/ed2.png" style="box-shadow:none;width: 40%;"/>
							<img class="info-img add-animation" src="./assets/img/vcp/ed5.png"style="margin-left: -17%;box-shadow:none;width: 34%;"/> 
						</div>
					</div> 

					<div class="col-md-4 ">
						<div class="section-description">
								<div class="angular-logo">
										<img src="./assets/img/bgcimaz.png" alt="" style="width: 50% ;  box-shadow: none">
									</div>
							<h3 class="title" style="font-weight: bold">Una buena Inversión</h3>
							<h6 class="category">Oportunidades de categoria</h6>
							<h5 class="description">Aproveche oportunidades inmejorables en inmuebles. Cordoba, Rosario, villa Carlos Paz, subscribase a nuesto newsletter y reciba alertas para aprovechar estos beneficios. </h5>
						</div>
					</div>
				</div> 
		</div> --> 
	</ng-template>  
</ngb-carousel> 
	
<div class="section section-gray">
	<div class="container">
			<div class="row">
					<div class="col-md-8 ml-auto mr-auto text-center">
						<h2 class="title" style="font-weight: bold">Oportunidades Cimaz</h2>
						<h5 class="description" style="font-weight: bold ; color:black ;">Contámos con asesoramiento profesional para brindarle un servicio acorde a su necesidad.
							 .</h5>
					</div>
				</div>
				
				<div class="blog-5">
						<div class="container">
							<h2 class="title text-center">Elija lo que está buscando</h2>
							<div class="row">
								<div class="col-md-7">
										<div class="card" data-background="image" style="background-image: url('assets/img/vcp/temp/5.jpg')">
											<div class="card-body">
											<h6 class="card-category">
												<i class="fa fa-newspaper-o"></i> Casas - Departamentos</h6>
											<a  [routerLink]="['/examples/tempvcp']">
												<h3 class="card-title" style="font-weight: bold">Alquileres Temporarios</h3>
											</a>
											<p class="card-description">
												As happens in most of these hearings so far, that argument led to a back-and-forth between Uber and Waymo’s lawyers over the pre-trial discovery...
											</p>
											<div class="card-footer">
												<div class="author">
													<a [routerLink]="['/examples/ecommerce']">
															<span>Ver Más</span>

													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-5">
									<div class="card" data-background="image" style="background-image: url('assets/img/vcp/temp2/4.jpg')">
										<div class="card-body">
											<h6 class="card-category">
												<i class="fa fa-newspaper-o"></i>Casas - Departamentos</h6>
											<a href="#">
												<h3 class="card-title" style="font-weight: bold">Alquileres Anuales</h3>
											</a>
											<p class="card-description">
												 It clarifies the product’s structure. Better still, it can make the product clearly express its function by making use of the user’s intuition.
											</p>
											<div class="card-footer">
												<div class="author">
													<a href="#">
															<span>Ver Más</span>

													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
										<div class="card" data-background="image" style="background-image: url('assets/img/vcp/temp2/3.jpg')">
											<div class="card-body">
											<h6 class="card-category">
												<i class="fa fa-newspaper-o"></i>Sitios - Rurales</h6>
											<a href="#">
												<h3 class="card-title" style="font-weight: bold">Terrenos</h3>
											</a>
											<p class="card-description">
												Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Jay-z...
											</p>
											<div class="card-footer">
												<div class="author">
													<a href="#">
															<span>Ver Más</span>

													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
										<div class="card" data-background="image" style="background-image: url('assets/img/vcp/temp2/2.jpg')">
											<div class="card-body">
											<h6 class="card-category">
												<i class="fa fa-newspaper-o"></i> Casas - Departamentos</h6>
											<a href="#">
												<h3 class="card-title" style="font-weight: bold">Ventas</h3>
											</a>
											<p class="card-description">
												Speed up your development time or get inspired with the large number of example pages. You can jump start your development with our pre-built example pages.
											</p>
											<div class="card-footer">
												<div class="author">
													<a href="#">
															<span>Ver Más</span>

													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-3">
										<div class="card" data-background="image" style="background-image: url('assets/img/vcp/temp2/1.jpg')">
											<div class="card-body">
											<h6 class="card-category">
												<i class="fa fa-newspaper-o"></i>Camboriú</h6>
											<a href="#">
												<h3 class="card-title" style="font-weight: bold">Oportunidades</h3>
											</a>
											<p class="card-description">
												But from the perspective of founders, there’s bound to be some confusion. In an ideal world we will see a meeting of the minds
											</p>
											<div class="card-footer">
												<div class="author">
													<a href="#">
															<span>Ver Más</span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				
	</div>
</div>
<div class="subscribe-line subscribe-line-transparent" style="background-image: url('assets/img/bgsubs.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-8">
                <form class="">
                    <div class="form-group">
                        <input type="text" value="" class="form-control" placeholder="Ingrese su Email...">
                    </div>
                </form>
            </div>
            <div class="col-md-3 col-sm-4">
                <button type="button" class="btn btn-info btn-block btn-round">Subscribirme Ahora!</button>
            </div>
        </div>
    </div>
</div>
<div class="section section-gray">
		<div class="container">
			<div class="row title-row"> 
				<div class="col-md-4 ml-auto">
					<div class="pull-right">
						<span class="text-muted">Oportunidad Cimaz</span> <button class="btn btn-link"> <i class="fa fa-shopping-cart"></i> 0 Items</button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-7 col-sm-6">

					<div id="carousel" class="ml-auto mr-auto">
						<div class="card page-carousel">
							<ngb-carousel>
								<ng-template ngbSlide>
									<img class="d-block img-fluid" src="./assets/img/vcp/temp/2.jpg" alt="Awesome Item">
									<div class="carousel-caption d-none d-md-block">
										<p>Habitación</p>
									</div>
								</ng-template>
								<ng-template ngbSlide>
									<img class="d-block img-fluid" src="./assets/img/vcp/temp/3.jpg" alt="Awesome Item">
									<div class="carousel-caption d-none d-md-block">
										<p>Habitación</p>
									</div>
								</ng-template>
								<ng-template ngbSlide>
									<img class="d-block img-fluid" src="./assets/img/vcp/temp/4.jpg" alt="Awesome Item">
									<div class="carousel-caption d-none d-md-block">
										<p>Comedor, living</p>
									</div>
								</ng-template>
								<ng-template ngbSlide>
									<img class="d-block img-fluid" src="./assets/img/vcp/temp/6.jpg" alt="Awesome Item">
									<div class="carousel-caption d-none d-md-block">
										<p>Comedor, living</p>
									</div>
								</ng-template>
								<ng-template ngbSlide>
									<img class="d-block img-fluid" src="./assets/img/vcp/temp/7.jpg" alt="Awesome Item">
									<div class="carousel-caption d-none d-md-block">
										<p>Pileta</p>
									</div>
								</ng-template>
								 
							</ngb-carousel>
						</div>
					</div> <!-- end carousel -->

				</div>
				<div class="col-md-5 col-sm-6">
					<h2>Alquiler Temporario</h2>
					<h4 class="price"><strong>&euro; 2,900.00</strong></h4>
					<hr />
					<p>Departamentos a estrenar en pleno centro de Villa Carlos Paz, 3 amibentes con vista panoramica para apreciar todo el paisaje de la Villa.</p>
					<span class="label label-warning shipping">Descuento por temporada completa</span>

					<div class="row">
						<div class="col-md-6 col-sm-6">
							<label>Cantidad de Dias</label>
							<div class="form-group">
								<angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems"
									[settings]="dropdownSettings"
									(onSelect)="onItemSelect($event)"
									(onDeSelect)="OnItemDeSelect($event)"
									(onSelectAll)="onSelectAll($event)"
									(onDeSelectAll)="onDeSelectAll($event)">
								</angular2-multiselect>
						   </div>
						</div>
						<div class="col-md-6 col-sm-6">
							<label>Forma de pago</label>
							<div class="form-group">
								<angular2-multiselect [data]="dropdownList1" [(ngModel)]="selectedItems1"
									[settings]="dropdownSettings1"
									(onSelect)="onItemSelect($event)"
									(onDeSelect)="OnItemDeSelect($event)"
									(onSelectAll)="onSelectAll($event)"
									(onDeSelectAll)="onDeSelectAll($event)">
								</angular2-multiselect>
						   </div>
						</div>
					</div>
					<hr />
					<div class="row">
						<div class="col-md-7 offset-md-5 col-sm-8">
							<button class="btn btn-default btn-block btn-round">Adquirir &nbsp;<i class="fa fa-chevron-right"></i></button>
						</div>
					</div>
				</div>
			</div>
	</div>
</div> 
<hr /> 
<div class="section section-dark">
	<div class="container"> 
			<div class="row">
				<div class="col-md-7 col-sm-6">

						<h2>Increible Casa Temporaria</h2>
						<h4 class="price"><strong>&euro; 5,900.00</strong></h4>
						<hr />
						<p>Hermosa casa para vacacionar en villa del lago La misma cuenta con 3 dorm., 4 baños, cochera doble, una increíble pileta y una increíble vista panorámica La propiedad esta equipada para 6/7 personas.</p>
						<span class="label label-default shipping">Descuento por Año compelto</span>
	
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<label>Cantidad de Dias</label>
								<div class="form-group">
									<angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems"
										[settings]="dropdownSettings"
										(onSelect)="onItemSelect($event)"
										(onDeSelect)="OnItemDeSelect($event)"
										(onSelectAll)="onSelectAll($event)"
										(onDeSelectAll)="onDeSelectAll($event)">
									</angular2-multiselect>
							   </div>
							</div>
							<div class="col-md-6 col-sm-6">
								<label>Forma de pago</label>
								<div class="form-group">
									<angular2-multiselect [data]="dropdownList1" [(ngModel)]="selectedItems1"
										[settings]="dropdownSettings1"
										(onSelect)="onItemSelect($event)"
										(onDeSelect)="OnItemDeSelect($event)"
										(onSelectAll)="onSelectAll($event)"
										(onDeSelectAll)="onDeSelectAll($event)">
									</angular2-multiselect>
							   </div>
							</div>
						</div>
						<hr />
						<div class="row">
							<div class="col-md-7 offset-md-5 col-sm-8">
								<button class="btn btn-warning btn-block btn-round">Adquirir &nbsp;<i class="fa fa-chevron-right"></i></button>
							</div>
						</div>

				</div>
				<div class="col-md-5 col-sm-6">	
					<div id="carousel" class="ml-auto mr-auto">
						<div class="card page-carousel">
							<ngb-carousel>
								<ng-template ngbSlide>
									<img class="d-block img-fluid" src="./assets/img/vcp/temp2/1.jpg" alt="Awesome Item">
									<div class="carousel-caption d-none d-md-block">
										<p>Habitación</p>
									</div>
								</ng-template>
								<ng-template ngbSlide>
									<img class="d-block img-fluid" src="./assets/img/vcp/temp2/3.jpg" alt="Awesome Item">
									<div class="carousel-caption d-none d-md-block">
										<p>Habitación</p>
									</div>
								</ng-template>
								<ng-template ngbSlide>
									<img class="d-block img-fluid" src="./assets/img/vcp/temp2/4.jpg" alt="Awesome Item">
									<div class="carousel-caption d-none d-md-block">
										<p>Comedor, living</p>
									</div>
								</ng-template>
								<ng-template ngbSlide>
									<img class="d-block img-fluid" src="./assets/img/vcp/temp2/2.jpg" alt="Awesome Item">
									<div class="carousel-caption d-none d-md-block">
										<p>Comedor, living</p>
									</div>
								</ng-template>
								<ng-template ngbSlide>
									<img class="d-block img-fluid" src="./assets/img/vcp/temp2/1.jpg" alt="Awesome Item">
									<div class="carousel-caption d-none d-md-block">
										<p>Pileta</p>
									</div>
								</ng-template>
								 
							</ngb-carousel>
						</div>
					</div> <!-- end carousel -->
				</div>
			</div>
	</div>
</div>
	
<hr /> 
<div class="section section-gray">
	<div class="container"> 
			<div class="row title-row"> 
				<div class="col-md-4 ml-auto">
					<div class="pull-right">
						<span class="text-muted">Estado de la casa</span> <button class="btn btn-link"> <i class="fa fa-shopping-cart"></i> 0 Items</button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-7 col-sm-6">

					<div id="carousel" class="ml-auto mr-auto">
						<div class="card page-carousel">
							<ngb-carousel>
								<ng-template ngbSlide>
									<img class="d-block img-fluid" src="./assets/img/vcp/temp/2.jpg" alt="Awesome Item">
									<div class="carousel-caption d-none d-md-block">
										<p>Habitación</p>
									</div>
								</ng-template>
								<ng-template ngbSlide>
									<img class="d-block img-fluid" src="./assets/img/vcp/temp/3.jpg" alt="Awesome Item">
									<div class="carousel-caption d-none d-md-block">
										<p>Habitación</p>
									</div>
								</ng-template>
								<ng-template ngbSlide>
									<img class="d-block img-fluid" src="./assets/img/vcp/temp/4.jpg" alt="Awesome Item">
									<div class="carousel-caption d-none d-md-block">
										<p>Comedor, living</p>
									</div>
								</ng-template>
								<ng-template ngbSlide>
									<img class="d-block img-fluid" src="./assets/img/vcp/temp/6.jpg" alt="Awesome Item">
									<div class="carousel-caption d-none d-md-block">
										<p>Comedor, living</p>
									</div>
								</ng-template>
								<ng-template ngbSlide>
									<img class="d-block img-fluid" src="./assets/img/vcp/temp/7.jpg" alt="Awesome Item">
									<div class="carousel-caption d-none d-md-block">
										<p>Pileta</p>
									</div>
								</ng-template>
								 
							</ngb-carousel>
						</div>
					</div> <!-- end carousel -->

				</div>
				<div class="col-md-5 col-sm-6">
					<h2>Alquiler Temporario</h2>
					<h4 class="price"><strong>&euro; 2,900.00</strong></h4>
					<hr />
					<p>Departamentos a estrenar en pleno centro de Villa Carlos Paz, 3 amibentes con vista panoramica para apreciar todo el paisaje de la Villa.</p>
					<span class="label label-warning shipping">Descuento por temporada completa</span>

					<div class="row">
						<div class="col-md-6 col-sm-6">
							<label>Cantidad de Dias</label>
							<div class="form-group">
								<angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems"
									[settings]="dropdownSettings"
									(onSelect)="onItemSelect($event)"
									(onDeSelect)="OnItemDeSelect($event)"
									(onSelectAll)="onSelectAll($event)"
									(onDeSelectAll)="onDeSelectAll($event)">
								</angular2-multiselect>
						   </div>
						</div>
						<div class="col-md-6 col-sm-6">
							<label>Forma de pago</label>
							<div class="form-group">
								<angular2-multiselect [data]="dropdownList1" [(ngModel)]="selectedItems1"
									[settings]="dropdownSettings1"
									(onSelect)="onItemSelect($event)"
									(onDeSelect)="OnItemDeSelect($event)"
									(onSelectAll)="onSelectAll($event)"
									(onDeSelectAll)="onDeSelectAll($event)">
								</angular2-multiselect>
						   </div>
						</div>
					</div>
					<hr />
					<div class="row">
						<div class="col-md-7 offset-md-5 col-sm-8">
							<button class="btn btn-default btn-block btn-round">Adquirir &nbsp;<i class="fa fa-chevron-right"></i></button>
						</div>
					</div>
				</div>
			</div>
	</div>
</div>

<hr /> 
<div class="section section-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-12"><h4>Tambien pudede interesar</h4><br/></div>
                    <div class="col-md-4 col-sm-4">
						<div class="card card-product card-plain">
							<div class="card-image">
								<a>
									<img src="./assets/img/vcp/ed1.png" alt="Rounded Image" class="img-rounded img-responsive">
								</a>
								<div class="card-body">
									<div class="card-description">
										<h5 class="card-title">Torre Metro park</h5>
										<p class="card-description">Spa & Solarium</p>
									</div>
									<div class="actions">
										<h5>1.300.000 &euro;</h5>
									</div>
								</div>
							</div>
						</div>
                    </div>
                    <div class="col-md-4 col-sm-4">
						<div class="card card-product card-plain">
							<div class="card-image">
								<a href="#">
									<img src="./assets/img/vcp/melos.jpg" alt="Rounded Image" class="img-rounded img-responsive">
								</a>
								<div class="card-body">
									<div class="card-description">
										<h5 class="card-title">Torre Leonardo</h5>
										<p class="card-description">Departamentos & Oficinas</p>
									</div>
									<div class="actions">
										<h5>1.500.000 &euro;</h5>
									</div>
								</div>
							</div>
						</div>
                    </div>
                    <div class="col-md-4 col-sm-4">
						<div class="card card-product card-plain">
	                        <div class="card-image">
	                            <a [routerLink]="['/examples/productpage']">
									<img src="./assets/img/d1.jpg" alt="Rounded Image" class="img-rounded img-responsive">
	                            </a>
	                            <div class="card-body">
	                                <div class="card-description">
	                                    <h5 class="card-title">Edificio En Camboripu</h5>
	                                    <p class="card-description">Oportunidad única</p>
	                                </div>

	                                <div class="actions">
	                                    <h5>1.200.00 &euro;</h5>
	                                </div>
	                            </div>
	                        </div>
						</div>
                    </div>
                </div>
			</div>
			



        </div>
<div class="cd-section section-white" id="contact-us" style="margin-top: -6%;"> 	 	
<div class="contactus-2">
	<div id="contactUsMap2" class="big-map">
		<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [styles]="styles">
			<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
		</agm-map>
	</div>
	
	<div class="container">
		<div class="col-md-6">
			<div class="card card-contact card-raised">
				<div class="card-header header-raised header-primary text-center">
					<h4 class="card-title">Contacto</h4>
				</div>
				<form role="form" id="contact-form" method="post">
					<div class="card-body">
						<div class="row">
							<div class="col-md-6">
								<div class="info info-horizontal">
									<div class="icon icon-info">
										<i class="nc-icon nc-badge" aria-hidden="true"></i>
									</div>
									<div class="description">
										<h5 class="info-title">Llamános</h5>
										<p> Telefono<br>
											+549 3541 428238<br>
											Lun - Vie 9-30 - 13.00
											Lun - Vie  17.00 - 20.30
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="info info-horizontal">
									<div class="icon icon-danger">
										<i class="nc-icon nc-pin-3" aria-hidden="true"></i>
									</div>
									<div class="description">
										<h5 class="info-title">Oficina Comercial</h5>
										<p> Juan B. Justo 200 - Villa Carlos Paz<br>
										 5152 -  - Córdoba - Argentina
										</p>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">Nombre y Apellido</label>
									<input type="text" class="form-control" name="nombre" ngModel>                                    </div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for ="email">Email</label>
									  <input type="text" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="email"name="email" ngModel #emailref="ngModel">
									  <div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)" class ="aler alert-danger">
									   <div [hidden]="!emailref.errors?.pattern">
											' Introduzca un E-mail Valido ejemplo@ejemplo.com.ar'
									   </div>
									  </div> 
								</div>
							</div>
						</div> 
						<div class="form-group">
							<label class="control-label">Asunto</label>
							<input type="text" class="form-control" name="asunto" ngModel>
						</div>
						<div class="form-group">
							<label class="control-label">Escriba su mensaje</label>
							<textarea class="form-control" cols="30" rows="6" name="mensaje" ngModel></textarea>
						</div>    
						<div class="row"> 
							<div class="col-md-6">
								<button type="submit" style="margin-left: 80%;" class="btn btn-facebook btn-default btn-border">Enviar</button>
											 </div>
										</div>
					</div>      
							</form>      
			</div>
		</div>
	</div>
</div>
</div>
 <!-- 
<div class="section section-testimonials">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8 ml-auto mr-auto text-center">
					<img src="./assets/img/isologo.png"  style="width: 5%;margin-bottom: 1%;margin-right: -2%; box-shadow: none">
					<h2 class="title" style="color:black">Mas de 232,000+ Oportunidades</h2>
					<h5 class="description" style="color:black">Es hora de invertir bien, lo asesoramos para que pueda obtener los mejores resultados a la hora de la compra de una propiedad</h5>
				</div>
			</div>

			<div class="row">

				<div class="col-md-2 ml-auto">
					<div class="testimonials-people">
						<img class="left-first-person add-animation" src="./assets/img/Edificios/ed1.jpg" alt="" />
						<img class="left-second-person add-animation" src="./assets/img/Edificios/ed2.jpg" alt="" />
						<img class="left-third-person add-animation" src="./assets/img/Edificios/ed3.jpg" alt="" />
						<img class="left-fourth-person add-animation" src="./assets/img/Edificios/ed4.jpg" alt="" />
						<img class="left-fourth-person add-animation" src="./assets/img/Edificios/ed5.jpg" alt="" />
						<img class="left-fourth-person add-animation" src="./assets/img/Edificios/ed6.jpg" alt="" />
					</div>
				</div>

				<div class="col-md-6">

					<div class="page-carousel">
                        <ngb-carousel>
								<ng-template ngbSlide class="carousel-item">
									<div class="card card-testimonial card-plain">
										<div class="card">
											<img class="img" src="./assets/img/Edificios/ed5.jpg"  />
										</div>
										<div class="card-body">
											<h5 class="card-description">
												Aqui va la descripción de la casa, con todos sus datos correspondientes.
											</h5>
											<div class="card-footer">
												<h4 class="card-title">Casa 1</h4>
												<h6 class="card-category">Alquiler</h6>
												<div class="card-stars">
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star" aria-hidden="true"></i> 
												</div>											</div>
										</div>
	
									</div>
								</ng-template>
                            <ng-template ngbSlide class="carousel-item">
                                <div class="card card-testimonial card-plain">
									<div class="card">
										<img class="img" src="./assets/img/Edificios/ed4.jpg"  />
									</div>
									<div class="card-body">
										<h5 class="card-description">
										Aqui va la descripción de la casa, con todos sus datos correspondientes.
										</h5>
										<div class="card-footer">
											<h4 class="card-title">Casa 2</h4>
											<h6 class="card-category">Venta</h6>
											<div class="card-stars">
												<i class="fa fa-star" aria-hidden="true"></i> 
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
											</div>
										</div>
									</div>

								</div>
                            </ng-template>
                            <ng-template ngbSlide class="carousel-item">
                                <div class="card card-testimonial card-plain">
									<div class="card">
										<img class="img" src="./assets/img/Edificios/ed3.jpg"  />
									</div>
									<div class="card-body">
										<h5 class="card-description">
											Aqui va la descripción de la casa, con todos sus datos correspondientes.
										</h5>
										<div class="card-footer">
											<h4 class="card-title">Casa 3</h4>
											<h6 class="card-category">Alquiler</h6>
											<div class="card-stars">
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
											</div>
										</div>
									</div>

								</div>
                            </ng-template>
                            <ng-template ngbSlide class="carousel-item">
                                <div class="card card-testimonial card-plain">
									<div class="card">
										<img class="img" src="./assets/img/Edificios/ed2.jpg"  />
									</div>
									<div class="card-body">
										<h5 class="card-description">
											Aqui va la descripción de la casa, con todos sus datos correspondientes.
										</h5>
										<div class="card-footer">
											<h4 class="card-title">Casa 4</h4>
											<h6 class="card-category">Venta</h6>
											<div class="card-stars">
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
											</div>
										</div>
									</div>

								</div>
                            </ng-template>
                            <ng-template ngbSlide class="carousel-item">
                                <div class="card card-testimonial card-plain">
									<div class="card">
										<img class="img" src="./assets/img/Edificios/ed1.jpg"  />
									</div>
									<div class="card-body">
										<h5 class="card-description">
											Aqui va la descripción de la casa, con todos sus datos correspondientes.
										</h5>
										<div class="card-footer">
											<h4 class="card-title">Casa 5</h4>
											<h6 class="card-category">Alquiler</h6>
											<div class="card-stars">
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
												<i class="fa fa-star" aria-hidden="true"></i>
											</div>
										</div>
									</div>

								</div>
                            </ng-template>
                        </ngb-carousel>
	                </div>
				</div>

				<div class="col-md-2 mr-auto">
					<div class="testimonials-people">
							<img class="left-first-person add-animation" src="./assets/img/Edificios/ed1.jpg" alt="" />
							<img class="left-second-person add-animation" src="./assets/img/Edificios/ed2.jpg" alt="" />
							<img class="left-third-person add-animation" src="./assets/img/Edificios/ed3.jpg" alt="" />
							<img class="left-fourth-person add-animation" src="./assets/img/Edificios/ed4.jpg" alt="" />
							<img class="left-fourth-person add-animation" src="./assets/img/Edificios/ed5.jpg" alt="" />
							<img class="left-fourth-person add-animation" src="./assets/img/Edificios/ed6.jpg" alt="" />
					</div>
				</div>

			</div>
		</div> 
	</div>   -->
	
</div>
 <footer class="footer footer-black">
	<div class="container">
		<div class="row">
			<nav class="footer-nav">
				<ul>
					<li><a href="#">Alquiler</a></li>
					<li><a href="#">Contacto</a></li>
					<li><a href="#">Oportunidades</a></li>
					<li><a  [routerLink]="['/sections']" target="_blank">Cimaz Brasil</a></li>
				</ul>
			</nav>
			<div class="credits ml-auto">
				<span class="copyright">
					©  2018 -- Powered  <i class="fa fa-eye heart"></i> by DME Team
				</span>
			</div>
		</div>
	</div>
</footer>
