<div class="wrapper">
	<div class="page-header page-header-xs"style="background-image: url('./assets/img/Camboriu/camboriu2.jpg');background-position-y: 60%;">
		<div class="filter"></div>
		<div class="content-center">
			<div class="container text-center">
				<h1 style="font-weight: bold">Alquileres Temporarios</h1>
				<h3 style="font-weight: bold">Brasil</h3>
			</div>
		</div>
		<h6 class="category category-absolute" style=" 
		z-index: 2  !important
	"> 
			<a style="color:white !important">
				<img src="./assets/img/isologo.png" class="creative-tim-logo" style="
				z-index: 2  !important;
				margin-top: 10%;
				margin-left: 31%;
			">
			</a>
		</h6>
	</div>
    <div class="main">
        <div class="section">
            <div class="container">
                    <div class="row title-row">
                        <div class="col-md-2">
                            <h4 class="shop">Detalles del Departamento</h4>
                        </div>
                        <div class="col-md-4 ml-auto">
                            <div class="pull-right">
                                <span class="text-muted">Departamento 2</span> <button class="btn btn-link"> <i class="fa fa-shopping-cart"></i> 0 Items</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 col-sm-6">

                            <div id="carousel" class="ml-auto mr-auto">
								<div class="card page-carousel">
									<ngb-carousel>
			                            <ng-template ngbSlide>
											<img class="d-block img-fluid" src="./assets/img/edicam/1.jpg" alt="Awesome Item">
											<div class="carousel-caption d-none d-md-block">
												<p>Somewhere</p>
											</div>
			                            </ng-template>
			                            <ng-template ngbSlide>
											<img class="d-block img-fluid" src="./assets/img/edicam/2.jpg" alt="Awesome Item">
											<div class="carousel-caption d-none d-md-block">
												<p>Somewhere</p>
											</div>
			                            </ng-template> 
			                            <ng-template ngbSlide>
											<img class="d-block img-fluid" src="./assets/img/edicam/4.jpg" alt="Awesome Item">
											<div class="carousel-caption d-none d-md-block">
												<p>Somewhere</p>
											</div>
			                            </ng-template>
			                            <ng-template ngbSlide>
											<img class="d-block img-fluid" src="./assets/img/edicam/5.jpg" alt="Awesome Item">
											<div class="carousel-caption d-none d-md-block">
												<p>Somewhere</p>
											</div>
			                            </ng-template>
			                            <ng-template ngbSlide>
											<img class="d-block img-fluid" src="./assets/img/edicam/6.jpg" alt="Awesome Item">
											<div class="carousel-caption d-none d-md-block">
												<p>Somewhere</p>
											</div>
			                            </ng-template>
			                            <ng-template ngbSlide>
											<img class="d-block img-fluid" src="./assets/img/edicam/7.jpg" alt="Awesome Item">
											<div class="carousel-caption d-none d-md-block">
												<p>Somewhere</p>
											</div>
			                            </ng-template>
			                            <ng-template ngbSlide>
											<img class="d-block img-fluid" src="./assets/img/edicam/8.jpg" alt="Awesome Item">
											<div class="carousel-caption d-none d-md-block">
												<p>Somewhere</p>
											</div>
			                            </ng-template>
			                            <ng-template ngbSlide>
											<img class="d-block img-fluid" src="./assets/img/edicam/9.jpg" alt="Awesome Item">
											<div class="carousel-caption d-none d-md-block">
												<p>Somewhere</p>
											</div>
			                            </ng-template> 
			                        </ngb-carousel>
								</div>
                            </div> <!-- end carousel -->

                        </div>
                        <div class="col-md-5 col-sm-6">
							<h2>Departamento En Camboriú</h2>
							<h4 class="price"><strong>&euro; 2,900.00</strong></h4>
							<hr />
							<p>This blazer in suede is a must-have of your wardrobe. Team it with a angora blazer and a angora sweater.</p>
							<span class="label label-default shipping">Aproveche la oferta Online </span>

                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <label>Select color</label>
									<div class="form-group">
						                <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems"
						                    [settings]="dropdownSettings"
						                    (onSelect)="onItemSelect($event)"
						                    (onDeSelect)="OnItemDeSelect($event)"
						                    (onSelectAll)="onSelectAll($event)"
						                    (onDeSelectAll)="onDeSelectAll($event)">
						                </angular2-multiselect>
						           </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <label>Select size</label>
									<div class="form-group">
						                <angular2-multiselect [data]="dropdownList1" [(ngModel)]="selectedItems1"
						                    [settings]="dropdownSettings1"
						                    (onSelect)="onItemSelect($event)"
						                    (onDeSelect)="OnItemDeSelect($event)"
						                    (onSelectAll)="onSelectAll($event)"
						                    (onDeSelectAll)="onDeSelectAll($event)">
						                </angular2-multiselect>
						           </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-7 offset-md-5 col-sm-8">
                                    <button class="btn btn-danger btn-block btn-round">Reservar Propiedad &nbsp;<i class="fa fa-chevron-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

        <div class="section">
            <div class="container">
                <div class="row card-body-row">
                    <div class="col-md-4 col-sm-4">
                       <div class="info">
                            <div class="icon icon-warning">
                                <i class="nc-icon nc-delivery-fast"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Reserva Inmediata</h4>
                                <p>Spend your time generating new ideas. You don't have to think of implementing anymore.</p>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                       <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-credit-card"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title"> Seguridad y confianza </h4>
                                <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                       <div class="info">
                            <div class="icon icon-success">
                                <i class="nc-icon nc-bulb-63"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title"> Líder en alquileres  </h4>
                                <p>Choose from a veriety of colors resembling sugar paper pastels.</p>
                            </div>
                       </div>
                    </div>
                </div>
                <hr />
                    <p>Para su tranquilidad y seguridad lea los términos y condiciones? <a class="link-danger">Leer Más.</a></p>
                <hr />
                <div class="faq">

                    <h4>Detalles de la Propiedad</h4> <br/>
					<ngb-accordion #acc="ngbAccordion">
						<ngb-panel>
							<ng-template ngbPanelTitle>
								<h5 class="mb-0 panel-title">
									<a class="collapsed">
									Generales
										<i class="nc-icon nc-minimal-down"></i>
									</a>
								</h5>
							</ng-template>
							<ng-template ngbPanelContent>
								  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
								  aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
								  sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
								  craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
								  occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
								  labore sustainable VHS.
							</ng-template>
						</ngb-panel>
						<ngb-panel>
							<ng-template ngbPanelTitle>
								<h5 class="mb-0 panel-title">
									<a class="collapsed">
										   Detalles
										<i class="nc-icon nc-minimal-down"></i>
									</a>
								</h5>
							</ng-template>
							<ng-template ngbPanelContent>
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
								aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
								sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
								craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
								occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
								labore sustainable VHS.
							</ng-template>
						</ngb-panel>
						<ngb-panel>
							<ng-template ngbPanelTitle>
								<h5 class="mb-0 panel-title">
									<a class="collapsed">
								 Servicios Adicionales
								<i class="nc-icon nc-minimal-down"></i>
									</a>
								</h5>
							</ng-template>
							<ng-template ngbPanelContent>
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
								aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
								sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
								craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
								occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
								labore sustainable VHS.
							</ng-template>
						</ngb-panel>
					</ngb-accordion>
                </div>
                <div class="row add-row">
                    <div class="col-md-4 col-sm-4">
                        <h4>Complete su compra</h4>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <h5>Cochera en Camboriú</h5>
                        <p class="price"><strong>&euro; 975.00</strong></p>

                        <p>Constructed from robust full-grain leather, it's finished with the label's 'city webbing' - a rich take on the brand's signature stripes.</p>
						<br/>
                        <button class="btn btn-danger btn-round"> Agreagr a la compra</button>
                    </div>
                    <div class="col-md-3 ml-auto col-sm-4">
                        <img src="./assets/img/cochera.jpg" alt="Rounded Image" class="img-rounded img-responsive">
                    </div>
                </div>
                <div class="row add-row">
                    <div class="col-md-4 col-sm-4">
                        <h4>Complete su compra</h4>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <h5>Carpa en la playa Camboriú</h5>
                        <p class="price"><strong>&euro; 975.00</strong></p>

                        <p>Constructed from robust full-grain leather, it's finished with the label's 'city webbing' - a rich take on the brand's signature stripes.</p>
						<br/>
                        <button class="btn btn-danger btn-round"> Agreagr a la compra</button>
                    </div>
                    <div class="col-md-3 ml-auto col-sm-4">
                        <img src="./assets/img/carpas.jpg" alt="Rounded Image" class="img-rounded img-responsive">
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-12"><h4>También puede interesarle</h4><br/></div>
                    <div class="col-md-4 col-sm-4">
						<div class="card card-product card-plain">
							<div class="card-image">
								<a [routerLink]="['/examples/tempcvcp']">
									<img src="./assets/img/d5.jpg" alt="Rounded Image" class="img-rounded img-responsive">
								</a>
								<div class="card-body">
									<div class="card-description">
										<h5 class="card-title">Double Breasted Mini Dress</h5>
										<p class="card-description">Dresses & Skirts</p>
									</div>
									<div class="actions">
										<h5>1.300 &euro;</h5>
									</div>
								</div>
							</div>
						</div>
                    </div>
                    <div class="col-md-4 col-sm-4">
						<div class="card card-product card-plain">
							<div class="card-image">
								<a [routerLink]="['/examples/tempcvcp']">
									<img src="./assets/img/d6.jpg" alt="Rounded Image" class="img-rounded img-responsive">
								</a>
								<div class="card-body">
									<div class="card-description">
										<h5 class="card-title">Chrystal Dress</h5>
										<p class="card-description">Dresses & Skirts</p>
									</div>
									<div class="actions">
										<h5>1.500 &euro;</h5>
									</div>
								</div>
							</div>
						</div>
                    </div>
                    <div class="col-md-4 col-sm-4">
						<div class="card card-product card-plain">
	                        <div class="card-image">
								<a [routerLink]="['/examples/tempcvcp']">
	                                <img src="./assets/img/d1.jpg" alt="Rounded Image" class="img-rounded img-responsive">
	                            </a>
	                            <div class="card-body">
	                                <div class="card-description">
	                                    <h5 class="card-title">Chrystal Skirt</h5>
	                                    <p class="card-description">Only on demand</p>
	                                </div>

	                                <div class="actions">
	                                    <h5>1.200 &euro;</h5>
	                                </div>
	                            </div>
	                        </div>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer class="footer section-black">
	<div class="container">
		<div class="row">
			<nav class="footer-nav">
				<ul>
					<li><a href="#">Creative Tim</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Licenses</a></li>
				</ul>
			</nav>
			<div class="credits ml-auto">
				<span class="copyright">
					© {{data | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Creative Tim
				</span>
			</div>
		</div>
	</div>
</footer>
